body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #9af6ff, #71ff95);
}

h1 {
    color: #000;
    font-weight:600;
}

.emoji {
    font-size: 2.5em;
    display: block;
}

.container {
    margin-top: 10%;
}

.btn-full-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
